.opportunities-container {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.job-links-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

.job-card1 {
  padding: 1rem;
  border: 1px solid #cfe2ff;
  border-radius: 12px;
  background: #e9f3ff;
  text-decoration: none;
  color: #004085;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.job-card1:hover {
  background-color: #d0ebff;
  transform: scale(1.05);
}
